/* common css starts here */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
ol {
  list-style-type: none;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
p,
span {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Inter", sans-serif;
}
/* common css end */
/* navbar start */
.nav-parent {
  width: 85%;
  max-width: 1600px;
  margin: 16px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-parent button {
  border-radius: 4px;
  padding: 12px 16px;
  border: none;
  background-color: #30b868;
  color: #fff;
  font-weight: 600;
  font-size: 16px;
  transition: 0.5s;
  cursor: pointer;
}
.nav-parent button:hover {
  background-color: #fff;
  color: #000;
}
.nav-u-list {
  display: flex;
  gap: 32px;
}
.nav-u-list li {
  font-weight: 500;
  font-size: 16px;
  color: #000;
  opacity: 0.9;
}
/* navbar end */
/* banner section start */
#banner {
  background-image: url(./assets/hero-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 674px;
}
.banner-content {
  height: 674px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.for-style {
  border-radius: 1000px;
  padding: 8px 12px;
  background-color: #fff;
  width: 229px;
  height: 35px;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  color: #30b868;
}
.for-style i {
  padding-right: 20px;
}
.banner-content h1 {
  font-weight: 700;
  font-size: 72px;
  color: #fff;
}
.h1-styling {
  color: #30b868;
}
.banner-content .p-style {
  font-weight: 400;
  font-size: 18px;
  color: #fff;
}
.banner-btn {
  display: flex;
  gap: 16px;
}
.banner-btn button {
  color: #e6f2ff;
  border: 1px solid rgba(0, 170, 255, 0.6);
  border-radius: 4px;
  padding: 12px 16px;
  background: #0b2a44;
  transition: background-color 0.4s ease;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
}
.banner-btn button:hover {
  background-color: #30b868;
}

/* banner section end */
/* notes section start */
#notes {
  margin: 120px auto 0;
  width: 85%;
  max-width: 1600px;
}
#notes h2 {
  text-align: center;
  color: #001931;
  font-weight: 700;
  font-size: 48px;
}
#notes p {
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  margin: 16px 0 44px;
}

.notes-card img {
  background-color: #f95555;
  padding: 15px;
  border-radius: 100%;
  width: 60px;
  height: 60px;
}
.notes-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 16px;
}
.notes-all-cards {
  display: flex;
  gap: 24px;
}
/* notes section end */
/* second brain section start */
#second-brain {
  width: 85%;
  max-width: 1600px;
  margin: 120px auto 0;
  display: flex;
  gap: 60px;
  justify-content: center;
  align-items: center;
}
.second-brain-image img {
  border-radius: 12px;
}
.second-brain-content h6 {
  font-weight: 500;
  font-size: 16px;
  text-transform: uppercase;
  color: #30b868;
}
.second-brain-content h2 {
  color: #001931;
  font-weight: 700;
  font-size: 48px;
  margin: 16px 0;
}
.second-brain-content p {
  font-weight: 400;
  font-size: 16px;
  color: #627382;
  margin-bottom: 40px;
}

.second-brain-content ul li {
  margin-bottom: 15px;
  display: flex;
  gap: 5px;
}
/* second brain section end */
/* think-more-clearly section start */
#think-more-clearly {
  background-color: #f7f6f2;
  width: 85%;
  max-width: 1600px;
  margin: 120px auto;
  padding: 80px;
}
.think-more-clearly-content {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.think-more-clearly-content h2 {
  font-weight: 700;
  font-size: 40px;
  color: #001931;
}
.think-more-clearly-content p {
  font-weight: 400;
  font-size: 16px;
  color: #627382;
  margin: 16px 0 24px;
}
.think-more-clearly-content .think-more-clearly-btn {
  align-items: center;
}
.think-more-clearly-btn button {
  border-radius: 4px;
  padding: 12px 16px;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.15);
  border: none;
  background-color: #30b868;
  color: #fff;
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 16px;
  transition: 0.5s;
  cursor: pointer;
}
.think-more-clearly-btn button:hover {
  background-color: #e6f2ff;
  color: #000;
}
.think-more-clearly-content span {
  font-weight: 400;
  font-size: 16px;
  color: #627382;
}
/* think-more-clearly section end */
/* footer section start */
footer {
  background-color: #001931;
  padding: 100px;
}
.all-footer {
  width: 85%;
  max-width: 1600px;
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
}
.footer-links h4 {
  font-weight: 500;
  font-size: 20px;
  color: #fff;
  margin-bottom: 16px;
}
.links {
  display: flex;
}
.links a i {
  margin-right: 10px;
  color: #000;
  padding: 10px;
  border-radius: 100%;
  width: 20px;
  height: 20px;
  background-color: #fff;
  display: flex;
  gap: 12px;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
footer hr {
  color: #000000;
  margin-top: 200px;
}
footer p {
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  color: #fafafa;
  margin-top: 15px;
}
/* footer section end */
